<app-pj1header></app-pj1header>

<main>

  <!--Interpolar: con doble mostacho o doble llave-->
  <h2>{{title}}</h2>
  <section>
    <h3>Sección 1</h3>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic id excepturi repellendus cum ut velit, quas itaque quis nostrum provident non labore error fuga sunt ab consequuntur fugit inventore?
  </section>

  <section>
    <h3>Sección 2</h3>
    {{getDato()}}
  </section>

  <!--Reenderizador de componentes-->
  <section>
    <br>
    <hr>
    <router-outlet />
    <br>
    <hr>
  </section>
</main>

<app-pj1footer></app-pj1footer>


